/* $Id: weblog.css 221 2004-09-15 21:35:23Z mrfrost $ */

/**
 * .news_* format definitions
 */
.news_container
{
    border-bottom:1px solid #ccc;
    margin-bottom:3px;
    margin-left:auto;
    margin-right:auto;
    margin-top:3px;
}

.news_header
{
    border-bottom:1px solid #aaa;
}

.news_story
{
    background-color:white;
    padding:0px;
}

.news_footer
{
    background-color:white;
    padding:0px;
    text-align:left;
}

/**
 * .comment_* format definitions
 */
.comment_container
{
    border-bottom:1px solid #ccc;
    margin-bottom:3px;
    margin-top:3px;
}

.comment_header
{
    border-bottom:1px solid #ccc;
    text-align:right;
}

.comment_body
{
    background-color:white;
    padding:0px;
    text-align:justify;
}

/**
 * .pagination format definitions
 */
.pagination
{
    text-align:center;
}

.pagination a
{
    color:#6090ff;
    text-decoration:none;
}

.pagination a:visited
{
    color:#6090ff;
}

.pagination a:hover
{
    text-decoration:none;
}

/**
 * global classes definitions
 */
.container
{
    border:1px solid #d3d3d3;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    width:75%;
}