/* $Id$ */

/**
 * .news_* format definitions
 */
.news_container
{
    border:1px solid #aaa;
    margin-bottom:3px;
    margin-left:auto;
    margin-right:auto;
    margin-top:3px;
    width:65%;
}

.news_header
{
    border-bottom:1px solid #aaa;
}

.news_story
{
    background-color:#fafafa;
    padding:3px;
}

.news_footer
{
    background-color:#fafafa;
    padding:3px;
    text-align:right;
}

/**
 * .comment_* format definitions
 */
.comment_container
{
    border:1px solid #ccc;
    margin-bottom:3px;
    margin-left:auto;
    margin-right:auto;
    margin-top:3px;
    width:65%;
}

.comment_header
{
    background-color:#fafafa;
    border-bottom:1px solid #ccc;
    padding:3px;
    text-align:right;
}

.comment_body
{
    padding:3px;
}

.comment_form
{
    border:1px solid #D3D3D3;
    margin-left:auto;
    margin-right:auto;
    width:65%;
}


/**
 * .pagination format definitions
 */
.pagination
{
    text-align:center;
}

.pagination a
{
    color:#6090ff;
    text-decoration:none;
}

.pagination a:visited
{
    color:#6090ff;
}

.pagination a:hover
{
    text-decoration:none;
}

/**
 * global classes definitions
 */
.container
{
    border:1px solid #D3D3D3;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    width:65%;
}